.singlecard {
  display: grid;
  background-color: var(--color-primary);
  border-radius: 1.5rem;
  width: 80%;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.coursename {
  color: var(--color-text-main);
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}

.info {
  color: var(--color-text-main);
  font-size: 1.25rem;
}

.icons {
  margin-right: 1.25rem;
  bottom: 30px;
}
