.container {
  display: grid;
  place-items: center;
  margin-top: 5rem;
  background-color: var(--color-primary-accent);
  height: 3.5rem;
  width: 100vw;
  align-content: center;
}

.avatar {
  position: relative;
}

.profilePic {
  border-radius: 50%;
  z-index: 10;
  width: 10rem;
  object-fit: cover;
}

.camera {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
}
