.form {
  display: grid;
  row-gap: 0.5rem;
  width: 75%;
}

.input {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 0.6em;
}

.submit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 3rem;
  padding-top: 3rem;
}

.login {
  background-color: var(--color-primary);
  color: var(--color-text-main);
  border-radius: 50%;
  padding: 1.5rem;
  text-align: center;
  font-size: 3rem;
  height: 6.25rem;
  width: 6.25rem;
}

.email {
  border-radius: 20px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--color-text-additional);
  width: 100%;
  border: none;
}

.password {
  border-radius: 20px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border: none;
}

.logintext {
  font: var(--font-family);
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--color-primary);
  border: none;
  background-color: transparent;
}

::placeholder {
  color: var(--color-text-additional);
  opacity: 1;
}

.forgot {
  color: var(--color-primary);
  font-size: 1.1rem;
}

.register {
  display: grid;
  place-items: center;
  padding-top: 3rem;
}

.account {
  color: var(--color-primary);
  font-size: 1.4rem;
}

.here {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 600;
}
