.container {
  display: grid;
  grid-template-rows: 20% 1fr 1fr;
  background-image: url("../../Assets/background_opacity.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

img {
  opacity: 0.5;
}

.hola {
  font-size: 2.5rem;
  color: var(--color-primary);
  font-weight: 800;
}

.name {
  font-size: 2.5rem;
  color: var(--color-primary-accent);
  font-weight: 800;
}

.intro {
  justify-self: center;
  align-self: end;
  padding: 0;
  margin: 0;
}
