.container {
  display: grid;
  grid-template-rows: 15% 1fr 10% 1fr;
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.headline {
  justify-self: center;
  align-self: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.weekday {
  font-size: 2.5rem;
  color: var(--color-primary);
  font-weight: 800;
}

.location {
  font-size: 2.5rem;
  color: var(--color-primary-accent);
  font-weight: 800;
}

.classes {
  display: grid;
  place-items: center;
}

.arrow {
  color: var(--color-primary-accent);
  font-size: 2.5rem;
  text-decoration: none;
}

.outdoorLink {
  display: grid;
  place-items: center;
  color: var(--color-primary);
  font-size: 1.5rem;
}
