.navigationBar {
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  border-radius: 1.5rem 1.5rem 0 0;
  height: 3.125rem;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  position: fixed;
}
